<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>1</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="/static/css/Bold-BS4-Jumbotron-with-Particles-js-particles-js.css">
    <link rel="stylesheet" href="/static/Bold-BS4-Jumbotron-with-Particles-js.css">

</head>

<body>
    <nav class="navbar navbar-expand-md bg-body">
        <div class="container-fluid">
            
    <a class="navbar-brand" href="/">Fujitora Port Scanner</a>
    <a class="navbar-brand" href="/previous">Previous Tests</a>
    <a class="navbar-brand" href="">About Us</a>

            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span
                    class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav">
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="scan_summary">
        <div class="p-5 mb-4 bg-light round-3">

            <!-- <div><button class="btn btn-primary" type="button">Download as PDF</button></div> -->
            
            <div class="container-fluid py-5">
                <h6 class="display-6 fw-bold">Scan Summary for 127.0.0.1</h6>
                <div style="margin-top: 2%;">
                    <h6 class="display-6 fw-bold" style="font-size: 27.88px;">Scan Parameters</h6>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Parameter</th>
                                    <th>Parameter Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>IP</td>
                                    <td>127.0.0.1</td>
                                </tr>
                                <tr>
                                    <td>Number of Open Ports</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>Number of Closed Ports</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>Number of Filtered Ports</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>Start Time</td>
                                    <td>2024:04:21:17:14:02.259010</td>
                                </tr>
                                <tr>
                                    <td>End Time</td>
                                    <td>2024:04:21:17:14:07.331151</td>
                                </tr>
                                <tr>
                                    <td>Elapsed Time</td>
                                    <td>2024:04:21:17:14:07.331151</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div style="margin-top: 2%;">
                    <h6 class="display-6 fw-bold" style="font-size: 27.88px;">Ports</h6>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>PORT</th>
                                    <th>STATUS</th>
                                    <th>SERVICE</th>
                                    <th>TIME (s)</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr>
                                    <td>80</td>
                                    <td>open</td>
                                    <td>http</td>
                                    <td>0.005986</td>
                                </tr>
                                
                                <tr>
                                    <td>81</td>
                                    <td>filtered</td>
                                    <td>Unknown</td>
                                    <td>1.014798</td>
                                </tr>
                                
                                <tr>
                                    <td>82</td>
                                    <td>filtered</td>
                                    <td>Unknown</td>
                                    <td>1.011869</td>
                                </tr>
                                
                                <tr>
                                    <td>83</td>
                                    <td>filtered</td>
                                    <td>Unknown</td>
                                    <td>1.014888</td>
                                </tr>
                                
                                <tr>
                                    <td>84</td>
                                    <td>filtered</td>
                                    <td>Unknown</td>
                                    <td>1.016272</td>
                                </tr>
                                
                                <tr>
                                    <td>85</td>
                                    <td>filtered</td>
                                    <td>Unknown</td>
                                    <td>1.008328</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            
        </div>        
    </div>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/Bold-BS4-Jumbotron-with-Particles-js-particles-js.js"></script>
</body>

</html>